# Ignore all slprj files #
##########################
linearizing/slprj/

# Ignore all experiments #
##########################
IDHP/exps/

# Ignore hidden files #
##########################
__pycache__/
*.pyc
